*color0: rgb:ff/ff/ff
*color1: rgb:c8/28/29
*color2: rgb:71/8c/00
*color3: rgb:ea/b7/00
*color4: rgb:42/71/ae
*color5: rgb:89/59/a8
*color6: rgb:3e/99/9f
*color7: rgb:4d/4d/4c
*color8: rgb:8e/90/8c
*color9: rgb:c8/28/29
*color10: rgb:71/8c/00
*color11: rgb:ea/b7/00
*color12: rgb:42/71/ae
*color13: rgb:89/59/a8
*color14: rgb:3e/99/9f
*color15: rgb:1d/1f/21
*color16: rgb:f5/87/1f
*color17: rgb:a3/68/5a
*color18: rgb:e0/e0/e0
*color19: rgb:d6/d6/d6
*color20: rgb:96/98/96
*color21: rgb:28/2a/2e
*foreground: rgb:28/2a/2e
*background: rgb:e0/e0/e0
*borderColor: rgb:8e/90/8c

URxvt.color0: rgb:00/00/00
URxvt.color1: rgb:ab/46/42
URxvt.color2: rgb:a1/b5/6c
URxvt.color3: rgb:f7/ca/88
URxvt.color4: rgb:7c/af/c2
URxvt.color5: rgb:ba/8b/af
URxvt.color6: rgb:86/c1/b9
URxvt.color7: rgb:d8/d8/d8
URxvt.color8: rgb:58/58/58
URxvt.color9: rgb:ab/46/42
URxvt.color10: rgb:a1/b5/6c
URxvt.color11: rgb:f7/ca/88
URxvt.color12: rgb:7c/af/c2
URxvt.color13: rgb:ba/8b/af
URxvt.color14: rgb:86/c1/b9
URxvt.color15: rgb:f8/f8/f8
URxvt.color16: rgb:dc/96/56
URxvt.color17: rgb:a1/69/46
URxvt.color18: rgb:28/28/28
URxvt.color19: rgb:38/38/38
URxvt.color20: rgb:b8/b8/b8
URxvt.color21: rgb:e8/e8/e8
URxvt.foreground: rgb:d8/d8/d8
URxvt.background: rgb:00/00/00
URxvt.borderColor: rgb:00/00/00
URxvt.cursorColor: rgb:d8/d8/d8
URxvt.font: xft:Hack:size=9,xft:DejaVu Sans Mono
URxvt.internalBorder: 2
URxvt.perl-ext-common: font-size,new-window,osc-xterm-clipboard
URxvt.keysym.C-M-equal: perl:font-size:increase
URxvt.keysym.C-M-plus: perl:font-size:increase
URxvt.keysym.C-M-minus: perl:font-size:decrease
URxvt.keysym.C-M-0: perl:font-size:reset
URxvt.keysym.C-M-n: perl:new-window
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.secondaryScroll: false
URxvt.secondaryWheel: true
URxvt.termName: rxvt-unicode-256color-powerline
URxvt.urgentOnBell: true

XTerm*color0: rgb:00/00/00
XTerm*color1: rgb:ab/46/42
XTerm*color2: rgb:a1/b5/6c
XTerm*color3: rgb:f7/ca/88
XTerm*color4: rgb:7c/af/c2
XTerm*color5: rgb:ba/8b/af
XTerm*color6: rgb:86/c1/b9
XTerm*color7: rgb:d8/d8/d8
XTerm*color8: rgb:58/58/58
XTerm*color9: rgb:ab/46/42
XTerm*color10: rgb:a1/b5/6c
XTerm*color11: rgb:f7/ca/88
XTerm*color12: rgb:7c/af/c2
XTerm*color13: rgb:ba/8b/af
XTerm*color14: rgb:86/c1/b9
XTerm*color15: rgb:f8/f8/f8
XTerm*color16: rgb:dc/96/56
XTerm*color17: rgb:a1/69/46
XTerm*color18: rgb:28/28/28
XTerm*color19: rgb:38/38/38
XTerm*color20: rgb:b8/b8/b8
XTerm*color21: rgb:e8/e8/e8
XTerm*foreground: rgb:d8/d8/d8
XTerm*background: rgb:00/00/00
XTerm*borderColor: rgb:00/00/00
XTerm*cursorColor: rgb:d8/d8/d8
XTerm*termName: xterm-256color-powerline
XTerm*faceName: monospace
XTerm*faceSize: 9
XTerm*internalBorder: 2
XTerm*saveLines: 10000
